version: '3.4'

services:
  stateless-auth-db:
    container_name: stateless-auth-db
    image: postgres:latest
    environment:
      POSTGRES_DB: auth-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    networks:
      - auth-net
    ports:
      - "5432:5432"

  book-db:
    container_name: book-db
    image: postgres:latest
    environment:
      POSTGRES_DB: book-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    networks:
      - auth-net
    ports:
      - "5433:5432"

  cambio-db:
    container_name: cambio-db
    image: postgres:latest
    environment:
      POSTGRES_DB: cambio-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    networks:
      - auth-net
    ports:
      - "5434:5432"
    
#  stateful-auth-db:
#    container_name: stateful-auth-db
#    image: postgres:latest
#    environment:
#      POSTGRES_DB: auth-db
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: postgres
#      PGDATA: /data/postgres
#    networks:
#      - auth-net
#    ports:
#      - "5433:5432"
  
  token-redis:
    container_name: token-redis
    image: redis:latest
    networks:
      - auth-net
    ports:
      - "6379:6379"

#  auth-api:
#    build: './auth-api'
#    container_name: auth-api
#    depends_on:
#      - stateless-auth-db
#    environment:
#      - DB_HOST=stateless-auth-db
#      - DB_PORT=5432
#      - DB_NAME=auth-db
#      - DB_USER=postgres
#      - DB_PASSWORD=postgres
#      - JWT_SECRET_KEY=Y3Vyc28tYXV0ZW50aWNhY2FvLXN0YXRlZnVsLXN0YXRlbGVzcy1taWNyb3NlcnZpY29zLWNvbnRhaW5lcg==
#    networks:
#      - auth-net
#    ports:
#      - "8080:8080"

#  stateless-simple-api:
#    build: './stateless/stateless-simple-api'
#    container_name: stateless-simple-api
#    depends_on:
#      - stateless-auth-db
#    environment:
#      - PORT= 8081
#      - JWT_SECRET_KEY=Y3Vyc28tYXV0ZW50aWNhY2FvLXN0YXRlZnVsLXN0YXRlbGVzcy1taWNyb3NlcnZpY29zLWNvbnRhaW5lcg==
#    networks:
#      - auth-net
#    ports:
#      - "8081:8081"
  
networks:
  auth-net:
    driver: bridge
